name: CI-CD-todo-app
on: 
  workflow_dispatch:
permissions: 
   contents: read
   packages: write



jobs:

 # ---------------------------------------------------------
  # 1) CI JOB — TEST + LINT + SONARQUBE
  # ---------------------------------------------------------
  
  CI:
    name: CI - Test + Lint + Sonar
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
# ---------------------------------------------------------
# 2) CD JOB — Docker Build + Scan + Push
# --------------------------------------------------------- 
  CD:
    name: CD - Build, Scan & Push Image
    needs: CI
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      # Build Add Task
      - name: Build, Tag & Push Add Task
        
        run: |
          docker build -t frontend:latest .
          docker tag frontend:latest ghcr.io/abhishekg2244/frontend:latest
          docker push ghcr.io/abhishekg2244/frontend:latest
 
# ---------------------------------------------------------
# 3) Deploy JOB — Deploytodev
# --------------------------------------------------------- 
  Deploytodev:
    name: deploytodev
    needs: CI
    runs-on: ubuntu-latest

    steps:
      - name: Helm Deploy to Dev
        run: |
          helm repo add todo-helm https://github.com/abhishekg2244/helm-charts.git
          helm pull todo-helm/common-todo-chart --untar
      
          helm upgrade todo-app ./common-todo-chart \
            --install \
            --namespace todo-dev \
            -f Helm/values-dev.yaml \
            --set image.tag=${{ github.run_number }}
