name: CI-CD-todo-app
on: 
  workflow_dispatch:
    inputs:
      # stage:
      #   description: "Select pipeline stage to run"
      #   required: true
      #   type: choice
      #   options:
      #     - CI
      #     - CD
      #     - Deploytodev
      #     - DeploytoTest
      #     - DeploytoProd

      run_ci:
        description: "Run CI Stage"
        required: true
        type: boolean
        default: false

      run_cd:
        description: "Run CD Stage"
        required: true
        type: boolean
        default: false

      run_deploy_dev:
        description: "Deploy to dev"
        required: true
        type: boolean
        default: false

      run_deploy_test:
        description: "Deploy to test"
        required: true
        type: boolean
        default: false
        
      run_deploy_prod:
        description: "Deploy to prod"
        required: true
        type: boolean
        default: false
          
permissions: 
   contents: read
   packages: write



jobs:

 # ---------------------------------------------------------
  # 1) CI JOB — TEST + LINT + SONARQUBE
  # ---------------------------------------------------------
  
  CI:
    if: ${{ github.event.inputs.run_ci == 'true' }}
    name: CI - Test + Lint + Sonar
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
# ---------------------------------------------------------
# 2) CD JOB — Docker Build + Scan + Push
# --------------------------------------------------------- 
  CD:
    if: ${{ github.event.inputs.run_cd == 'true' }}
    name: CD - Build, Scan & Push Image
    needs: CI
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to GHCR
        run: echo "${{ secrets.HELMTOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      # Build Add Task
      - name: Build, Tag & Push Add Task
        
        run: |
          docker build -t frontend:latest .
          docker tag frontend:latest ghcr.io/abhishekg2244/frontend:latest
          docker push ghcr.io/abhishekg2244/frontend:latest
 
# ---------------------------------------------------------
# 3) DeployDEVJOB — Deploytodev
# --------------------------------------------------------- 
  Deploytodev:
    if: ${{ github.event.inputs.run_deploy_dev == 'true' }}
    name: Deploy to Dev
    needs: CD
    runs-on: self-hosted

    steps:
          - name: Checkout repo
            uses: actions/checkout@v4
      
          - name: Helm Login GHCR
            run: echo "${{ secrets.GHCR_TOKEN }}" | helm registry login ghcr.io --username ${{ github.actor }} --password-stdin

          - name: Pull Helm Chart from OCI
            run: helm pull oci://ghcr.io/abhishekg2244/charts/common-todo-chart --version 0.1.0 --untar

    #------------it for SH ---------------------#  
          # - name: Deploy using Helm
          #   run: |
          #     helm upgrade todo-app ./common-todo-chart \
          #     --install \
          #     --namespace todo-dev \
          #     -f Helm/values-dev.yaml \
          #     --set image.tag=latest

    #------------it is for powerhell ----------------#
          - name: Deploy using Helm
            run: helm upgrade todo-app ./common-todo-chart --install --namespace todo-dev -f ./Helm/values-dev.yaml --set image.tag=latest

# ---------------------------------------------------------
# 3) DeployTESTJOB — DeploytoTest
# --------------------------------------------------------- 
  DeploytoTest:
      if: ${{ github.event.inputs.run_deploy_dev == 'true' }}
      name: Deploy to test
      needs: Deploytodev
      runs-on: self-hosted
  
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4
   
        - name: Helm Login GHCR
          run: echo "${{ secrets.GHCR_TOKEN }}" | helm registry login ghcr.io --username ${{ github.actor }} --password-stdin
    
        - name: Pull Helm Chart from OCI
          run: helm pull oci://ghcr.io/abhishekg2244/charts/common-todo-chart --version 0.1.0 --untar

        - name: Deploy using Helm
          run: helm upgrade todo-app ./common-todo-chart --install --namespace todo-test -f ./Helm/values-qa.yaml --set image.tag=latest  

# ---------------------------------------------------------
# 3) DeployPRODJOB — DeploytoProd
# --------------------------------------------------------- 
  DeploytoProd:
      if: ${{ github.event.input.run_deploy_prod == "true' }}
      name: Deploy to Prod
      needs: DeploytoTest
      runs-on: self-hosted
  
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4
   
        - name: Helm Login GHCR
          run: echo "${{ secrets.GHCR_TOKEN }}" | helm registry login ghcr.io --username ${{ github.actor }} --password-stdin
    
        - name: Pull Helm Chart from OCI
          run: helm pull oci://ghcr.io/abhishekg2244/charts/common-todo-chart --version 0.1.0 --untar

        - name: Deploy using Helm
          run: helm upgrade todo-app ./common-todo-chart --install --namespace  todo-prod -f ./Helm/values-prod.yaml --set image.tag=latest  


 
    

