name: CI-CD-todo-helm-argocd

on: 
  workflow_dispatch:
    inputs:
      run_ci:
        description: "Run CI Stage"
        required: true
        type: boolean
        default: false

      run_cd:
        description: "Run CD Stage"
        required: true
        type: boolean
        default: false

      run_deploy_dev:
        description: "Deploy to DEV"
        required: true
        type: boolean
        default: false

      run_deploy_test:
        description: "Deploy to TEST"
        required: true
        type: boolean
        default: false
        
      run_deploy_prod:
        description: "Deploy to PROD"
        required: true
        type: boolean
        default: false

permissions: 
   contents: write
   packages: write


jobs:

  # --------------------------------------
  # 1) CI Stage (Test + Lint + Sonar etc)
  # --------------------------------------
  CI:
    if: ${{ github.event.inputs.run_ci == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4


  # --------------------------------------
  # 2) Build & Push Docker Image (CD)
  # --------------------------------------
  CD:
    if: ${{ github.event.inputs.run_cd == 'true' }}
    needs: CI
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v4

      - name: Set unique image tag using commit SHA
        run: echo "IMAGE_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Login to GHCR
        run: echo "${{ secrets.HELMTOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build & Push Image
        run: |
          docker build -t ghcr.io/abhishekg2244/frontend:${IMAGE_TAG} .
          docker push ghcr.io/abhishekg2244/frontend:${IMAGE_TAG}

      - name: Upload artifact tag to deploy job
        uses: actions/upload-artifact@v4
        with:
          name: image-tag
          path: ${{ github.workspace }}/frontend
          retention-days: 1


  # --------------------------------------
  # 3) Deploy to DEV
  # --------------------------------------
  DeploytoDev:
    if: ${{ github.event.inputs.run_deploy_dev == 'true' }}
    needs: CD
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: image-tag
        
      - name: Read image tag
        run: echo "IMAGE_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Deploy via ArgoCD CLI Dev
        run: |
          argocd login ${{ secrets.ARGOCD_SERVER }} --username ${{ secrets.ARGOCD_USERNAME }} --password ${{ secrets.ARGOCD_PASSWORD }} --insecure
          argocd app set todo-dev --helm-set image.tag=${IMAGE_TAG}
          argocd app sync todo-dev


  # --------------------------------------
  # 4) Deploy to TEST
  # --------------------------------------
  DeploytoTest:
    if: ${{ github.event.inputs.run_deploy_test == 'true' }}
    needs: CD
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via ArgoCD CLI Test
        run: |
          argocd login ${{ secrets.ARGOCD_SERVER }} --username ${{ secrets.ARGOCD_USERNAME }} --password ${{ secrets.ARGOCD_PASSWORD }} --insecure
          argocd app set todo-test --helm-set image.tag=${IMAGE_TAG}
          argocd app sync todo-test


  # --------------------------------------
  # 5) Deploy to PROD (Manual Approval in ArgoCD UI)
  # --------------------------------------
  DeploytoProd:
    if: ${{ github.event.inputs.run_deploy_prod == 'true' }}
    needs: CD
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via ArgoCD CLI Prod
        run: |
          argocd login ${{ secrets.ARGOCD_SERVER }} --username ${{ secrets.ARGOCD_USERNAME }} --password ${{ secrets.ARGOCD_PASSWORD }} --insecure
          argocd app set todo-prod --helm-set image.tag=${IMAGE_TAG}
          argocd app sync todo-prod
